<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 mid cover">
    <div>
      <h3>Welcome to Metrics</h3>
      <h4>An API tracking service and reporting tool</h4><br />
      <%= image_tag("pie-chart.png", size: "350x300", alt: "pie chart") %>
    </div>
    <div class="row sell-bottom">
      <div class="col-md-4">
        <i class="glyphicon glyphicon-eye-open gz"></i>
        <h4>Monitor</h4>
        <p>Allows users to track events on their website.</p>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-equalizer gz"></i>
        <h4>Record</h4>
        <p>Provides server-side API that saves those events to database.</p>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-scale gz"></i>
        <h4>Report</h4>
        <p>Displays captured metrics for data analysis.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
