<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 mid">
    <h4>Contact</h4>
    <p>Questions or comments please contact tmoolmuang@gmail.com</p>
  </div>
  <div class="col-md-1">
  </div>
</div>
