<h4>Demo Applications</h4>
<div class="row">
  <div class="col-md-8">
    <p class="text-info"><small>
      <%= pluralize(@apps.count, "application") %> by admin<br />
    </small></p>  
    <% @apps.each do |app| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to app.name, app %> - <%= app.url %>
            <small class="text-info"> - created <%= time_ago_in_words(app.created_at) %> ago</small>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
