<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 entry edit-app">
    <h4>Edit Registered Application</h4>
    <%= render partial: 'guideline' %>
    <%= render partial: 'form', locals: { app: @app, cancel_link: @app } %>
  </div>
    <div class="col-md-4">
  </div>
</div>
