<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 top">
    <h4>All Applications</h4>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 mid">
    <% @apps.each do |app| %>
     <div class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= link_to app.name, app %> - <%= app.url %></h4>
          <p><small class="text-info"><%= pluralize(app.events.count, "event") %>, owner - <%= app.user.email %></small></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
