<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 entry edit-app">
    <h4>Register New Application</h4>
    <%= render partial: 'guideline' %>
    <%= render partial: 'form', locals: { app: @app, cancel_link: myapps_apps_path } %>
  </div>
  <div class="col-md-4">
  </div>
</div>
