/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-color: rgba(125, 185, 232, 0.05);
}
.user-info {
  margin-top: 10px;
}
.twitter-blue{
  color: #428bca;
}
.top {
  padding: 25px;
  height: 75px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  top: 4px;
  background-color: white;
}
.top h4 {
  display: inline;
}
.mid {
  padding: 25px;
  height: 600px;
  border: 1px solid #E7E7E7;
  top: 4px;
  background-color: white;
}
.entry {
  padding: 25px;
  border: 1px solid #E7E7E7;
  top: 10px;
  background-color: white;
}
.signin {
  height: 380px;
}
.signup {
  height: 400px;
}
.edit {
  height: 530px;
}
.resend {
  height: 270px;
}
.edit-app {
  height: 380px;
}
.edit-event {
  height: 300px;
}
.change-password {
  height: 350px;
}
.cover {
  text-align: center;
  position: relative;
}
.sell-bottom {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
}
.gz {
  font-size: 2.5em;
}